{% extends "layout.html" %}
<html>
    <title>{{page_name}}</title>
    <link rel="stylesheet" type= "text/css" href="/static/css/homestyle.css">
<body>
    {{ name }}
    {% block contant %}
    <div>
        <h5>The Federated Learning is a advance distributive machine learning with out common Storage</h5>
    </div>
    <table style="text-align: center;">
        <TR>
            <TD>Priya Vishnu A S</TD>
            <TD>CECSB1923</TD>
        </TR>
        <TR>
            <TD>Vijaykumar</TD>
            <TD>CECSB1955</TD>
        </TR>
        <TR>
            <TD>mahesh kumaar</TD>
            <TD>CECSB1905</TD>
        </TR>
        <TR>
            <TD>Surya prakash</TD>
            <TD>CECSB1945</TD>
        </TR>
    </table>
    {% endblock %}
    </body>
</html>