<!DOCTYPE html>
<html>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Device 1</title>
</head>
<body>

<div class="w3-container w3-teal w3-padding-16">
  <h1>Diabetic Retinopathy Detection and Grading using Federated learnig</h1>
</div>
<div class="w3-container w3-margin-top">
    <button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/modeltrain">Model Training (Locally)</a></button>
    <button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8001/sendmodel">Send Model to Federated Server</a></button>

</div>

</body>
</html> 
