<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal w3-padding-16">
  <h1>Diabetic Retinopathy detection and grading using Federated learning</h1>
</div>

<div class="w3-container w3-margin-top">
    <button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8002/modeltrain">Model Training (Locally)</a></button>
    <button class="w3-button w3-black w3-round-xxlarge" style="width:33%"><a href="http://localhost:8002/sendmodel">Send Model to Federated Server</a></button>

</div>

</body>
</html> 
